/Workspace
/workspace
**/Workspace/java
**/workspace/java
**/.idea
**/*.pj
**/.project
**/.classpath
**/.settings
**/~*
**/target
**/**.bak
**/**.jar
**.iml
*.log
.factorypath
*.iml
.idea/
.DS_Store
*.gz